@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<h2>Employee List</h2>

<table class="table">
    <thead>
        <tr>
            <th>รหัสบัตรประชาชน</th>
            <th>รหัสพนักงาน</th>
            <th>ชื่อจริง</th>
            <th>นามสกุล</th>
            <th>เพศ</th>
            <th>วันเดือนปีเกิด</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.CardId</td>
                <td>@employee.EmployeeId</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Gender</td>
                <td>@employee.Dateofbirth.ToShortDateString()</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>
</table>
